# rename file to .env
# diesel database env file
# used only with diesel-cli and docker-compose
DATABASE_URL="postgres://<user>:<password>@localhost/<db>"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
PGADMIN_DEFAULT_EMAIL=""
PGADMIN_DEFAULT_PASSWORD=""